<li class="no-bullets recipe-link">
    <img class="recipe-image" src="<%= recipe.image %>"><br>
    <a class="all-links" href="/recipes/<%= recipe.id %>">
      <span class="title-link"><%= recipe.title %></span>
    </a>
</li>


