
<form action="/favorites" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="recipe_id" value="<%= recipe.id %>"></input>
  <input type="submit" value="unfavorite"></input>
</form>
